body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url("https://i.imgflip.com/30b1gx.jpg"); /* Distracted Boyfriend */
}

.img2 {
    background-image: url("https://i.imgflip.com/4acd7j.png"); /* This is fine */
}

.text {
    color: white;
    font-size: 20px;
    background: rgba(212, 25, 25, 0.6);
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
}

.content {
    height: 300px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
}
