body {
    background: #f0f0f0;
    font-family: Arial;
}

.card {
    width: 300px;
    background: white;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

table {
    border: none;
    width: 100%;
}

td {
    border: none;
}

.profile {
    width: 120px;
    border-radius: 50%;
}

.login {
    font-weight: bold;
    margin: 10px 0 5px;
}

.desc {
    color: gray;
    font-size: 14px;
}

.social img {
    width: 25px;
    margin: 5px;
}

button {
    margin-top: 15px;
    padding: 8px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
