html, body {
  height: 100%;
  margin: 0;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  padding: 20px;
  overflow-wrap: break-word;
}

.left {
  background: #c9d48b;
}

.right {
  background: #f7c6b1;
}
